<div class="main">
    <div class="box">
        <h1> Психологическая помощь:</h1>
        <p> <a href="callto:1414">«1414»</a>  — горячая линия на базе единого call-центра по оказанию профессиональной психологической помощи всем нуждающимся;</p>

    </div>
    <div class="box">
        <h1> центр помощи детям:</h1>
        <p> <a href="callto:111">«111»</a>  — Контакт центра Службы 111 является - оказание комплексной помощи по вопросам семьи, женщин и защиты прав детей. Предотвращение острых бытовых проблем.</p>
    </div>
    <div class="box">
        <h1> Помощь предпринимателям:</h1>
        <p> <a href="callto:1432">«1432»</a>  — единый call-центр для сообщений об ущербе и случаев мародерства;</p>
    </div>

</div>
