<div>

  <h1>Hi Welcome Back</h1>
    <!-- <h3>Create An Account</h3>
    <form>
      <div>
        <label for="name">Name</label>
        <input formControlName="inputfullName" type="text">
        <label for="email">Email</label>
        <input formControlName="inputEmail" required type="email">
        <label for="phonenumber">Phone Number</label>
        <input formControlName="inputPhoneNumber" required type="tel">
        <label for="date">Date</label>
        <input formControlName="inputDate" type="date">
        <label for="password">Password</label>
        <input formControlName="inputPassword" type="password">
      </div>
      <button type="submit">Submit</button>
      <span>Already have an account? 
        <a routerLink="/login">Login</a>
      </span>
    </form> -->
</div>
  