/* *{
  margin: 0;
}
.head{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head button {
    border-radius: 10%;
}
.main{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box1 .profile-img {
  background-image: url('../../oooumay.jpg');
  background-size: cover;
  background-position: center;
  width: 200px; 
  height: 200px; 
  border-radius: 10%; 
} */

/* Стили для кнопок */
.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Стили для текстовых полей */
.input-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Стили для загрузки изображения */
.file-input {
  margin-bottom: 10px;
}

.file-input label {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.file-input input[type="file"] {
  display: none;
}

/* Стили для списка */
.list {
  list-style: none;
  padding: 0;
}

.list-item {
  margin-bottom: 10px;
}

.list-item img {
  max-width: 100px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

